::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: #fff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #999;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5b53cd;
}

html,
body {
  scrollbar-color: #bababa transparent;
  scrollbar-width: thin;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: unset !important;
}

body {
  color: #000000;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  text-shadow: none;
}

.l {
  box-shadow: 0 0 0 1px red;
}

.i {
  box-shadow: inset 0 0 0 1px blue;
}

.container {
  width: 100%;
  max-width: 1170px;
}

.icon {
  stroke: unset;
  stroke-width: 0px;
  fill: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: -0.157em;
}

.icon-1x {
  transform: scale(1.1);
}

.icon-2x {
  transform: scale(1.2);
}

.icon-3x {
  transform: scale(1.3);
}

.icon-4x {
  transform: scale(1.4);
}

.icon-5x {
  transform: scale(1.5);
}

.icon-6x {
  transform: scale(1.6);
}

.icon-7x {
  transform: scale(1.7);
}

.icon-8x {
  transform: scale(1.8);
}

.icon-9x {
  transform: scale(1.9);
}

.icon-10x {
  transform: scale(2);
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  z-index: 1;
}

.content-box {
  width: 75%;
  position: relative;
  z-index: 1;
}

.left-box {
  width: 25%;
  background-color: #9d84e9;
  background-image: url('./images/left-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px;
  position: sticky;
  top: 0;
  height: 100vh;
}

.left-box img {
  width: 100%;
  max-width: 300px;
  -webkit-user-select: none;
  user-select: none;
}

.form-floating > .form-control,
.form-floating > .form-select {
  height: calc(3.5rem + 8px);
  background-color: #f6f7f8;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  box-shadow: none;
  z-index: 1;
  padding-left: 14px;
  font-weight: 400;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
}

.form-floating > .form-control:focus,
.form-floating > .form-select:focus {
  box-shadow: none;
  background-color: #f6f7f8;
  border: none;
}

.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1.725rem;
  padding-bottom: 0.325rem;
}

.form-floating > label {
  font-size: 15px;
  color: rgb(130, 139, 148);
  font-weight: 500;
  padding: 1.175rem 0.75rem 1rem 0.75rem;
  -webkit-user-select: none;
  user-select: none;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 1;
  transform: scale(0.82) translateY(-0.65rem) translateX(0.15rem);
}

.form-floating > textarea.form-control:focus ~ label,
.form-floating > textarea.form-control:not(:placeholder-shown) ~ label {
  background-color: #f6f7f8;
  width: 200%;
  height: 40px;
  padding-top: 9px;
  border-radius: 6px;
  transform: scale(0.82) translateY(0rem) translateX(0.15rem);
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before {
  content: '';
  height: 1px;
  width: 0;
  bottom: 0px;
  left: 14px;
  position: absolute;
  background: #5b53cd;
  transition: 0.4s ease all;
}

.form-floating > .form-control:focus ~ .bar:before,
.form-floating > .form-select:focus ~ .bar:before {
  width: calc(100% - 28px);
}

/* Success & Error Input Fields*/

.form-floating > .is-invalid ~ label {
  color: #dc3545;
}

.form-floating > .is-invalid ~ .bar:before {
  background: #dc3545;
  width: calc(100% - 28px);
}

.form-floating > .form-control ~ .form-text,
.form-text {
  display: block;
  font-size: 0.8em;
  padding-left: 14px;
  color: #dc3545;
}

.form-floating > .is-invalid ~ .form-text {
  display: block;
  color: #dc3545;
}

.form-otp ~ .btn-sendotp {
  position: absolute;
  top: calc(50% - 18px);
  right: 7px;
  display: none;
}

.form-floating > .form-otp:not(:placeholder-shown) ~ .btn-sendotp {
  display: inline-block;
}

.form-floating > .form-otp.is-invalid:not(:placeholder-shown) ~ .btn-sendotp,
.form-floating > .is-invalid ~ .btn-sendotp {
  display: none;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 0.6rem 1rem;
  font-size: 1.25rem;
  border-radius: 6px;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  opacity: 0.5;
}

.copyrights {
  position: absolute;
  color: #ffffff;
  opacity: 0.75;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.25px;
  left: 15px;
  bottom: 15px;
  margin: 0;
}

.drop-input {
  display: flex;
  position: relative;
  width: 100%;
  height: 70px;
  border: 2px dashed #ddd;
  border-radius: 6px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition: 350ms;
  cursor: pointer;
  background-color: #f6f7f8;
}

.drop-input:hover {
  border: 2px dashed #999;
  box-shadow: inset 0 0 10px #ccc;
}

.drop-input input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: none;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.signature-container {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100%;
  height: 124px;
  overflow: hidden;
}

.signature-container canvas {
  position: absolute;
  height: 124px;
  width: 100%;
  left: 0;
  top: 0;
  cursor: crosshair;
  max-width: 100%;
  object-fit: cover;
}

.signature-container button {
  position: absolute;
  font-size: 13px;
  right: 5px;
  bottom: 5px;
  border: none;
  z-index: 2;
  cursor: pointer;
}

.dot {
  height: 7px;
  width: 7px;
  line-height: 7px;
  background-color: #555;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.btn-primary {
  color: #fff;
  background-color: #5b53cd;
  border-color: #5b53cd;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #5b53cd;
  border-color: #5b53cd;
}

.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #453db9;
  border-color: #3932a7;
}

.btn-primary:hover {
  color: #fff;
  background-color: #453db9;
  border-color: #3932a7;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: #453db9;
  border-color: #3932a7;
  box-shadow: 0 0 0 0.25rem rgba(91, 83, 205, 0.5);
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(91, 83, 205, 0.5);
}

.form-check-input:checked {
  background-color: #5b53cd;
  border-color: #5b53cd;
}

.form-check-input:focus {
  border-color: rgba(91, 83, 205, 0.5);
  box-shadow: 0 0 0 0.25rem rgba(91, 83, 205, 0.2);
}

.btn-link {
  color: #5b53cd;
}

.btn-link:hover {
  color: #3932a7;
}

.text-primary {
  color: #5b53cd !important;
}

.steping {
  margin-bottom: 18px;
  z-index: 11;
  top: 15px;
  left: 15px;
  position: absolute;
}

.steping span {
  background-color: #f6f7f8;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 18px;
  font-size: 15px;
  color: #5b53cd;
  font-weight: 500;
  border-radius: 40px;
  box-shadow: 0 0 0 0.05rem rgba(91, 83, 205, 0.25);
}

.label-text {
  font-size: 15px;
  color: rgb(130, 139, 148);
  font-weight: 500;
}

.field-text {
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.small,
small {
  font-size: 0.8em;
}

.fs-12px {
  font-size: 12px;
}

.react-tel-input {
  height: calc(3.5rem + 8px);
  background-color: #f6f7f8;
  border: none;
  border-radius: 6px;
}

.react-tel-input .form-control {
  width: 100% !important;
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  text-align: center;
  padding: 22px 80px 18.5px 60px !important;
}

.react-tel-input:before {
  content: '';
  width: 0;
  height: 1px;
  left: 14px;
  bottom: 0px;
  display: block;
  position: absolute;
  background: #5b53cd;
  transition: 0.4s ease all;
}

.react-tel-input:focus-within:before {
  width: calc(100% - 28px);
}

.react-tel-input .form-control::placeholder {
  font-family: var(--bs-font-sans-serif);
  font-size: 15px !important;
  color: rgb(130, 139, 148) !important;
  font-weight: 600 !important;
  padding: 1.275rem 0.75rem 1rem 0.75rem;
  -webkit-user-select: none;
  user-select: none;
  text-align: left;
}

.react-tel-input .special-label {
  font-size: 11px !important;
  left: 5px !important;
  top: 4px !important;
  color: rgb(130, 139, 148) !important;
  font-weight: 600 !important;
  background: #f6f7f8 !important;
}

.form-floatingnumber .btn-sendotp {
  display: none;
  position: absolute;
  top: calc(50% - 18px);
  right: 7px;
}

.form-floatingnumber:focus-within .btn-sendotp,
.form-floating-confirm .btn-sendotp {
  display: block;
}

@media (max-width: 1400px) {
  .left-box img {
    max-width: 200px;
  }
}

/* file css */

.filesname {
  align-items: center;
  position: relative;
  font-size: 13px;
  display: flex;
  color: #5b53cd;
  margin-bottom: 4px;
}

.filesname span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  min-width: 18px;
  height: 18px;
  font-size: 14px;
  line-height: 1;
  font-family: Arial;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  color: #fff;
  background: #f97d7d;
  margin-right: 6px;
}

/* end */

@media (min-width: 801px) and (max-width: 1399px) {
  .content-box {
    width: 80%;
  }
  .left-box {
    width: 20%;
  }
}

@media (max-width: 800px) {
  .content-box {
    width: 100%;
    padding-top: 60px;
  }
  .left-box {
    display: block;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 15px;
  }
  .left-box img {
    max-width: 140px;
  }
  .steping {
    top: 6px;
    left: auto;
    right: auto;
    position: sticky;
  }
  .copyrights {
    display: none;
  }
}

.heading-for-kycsuccess {
  color: #5c48d2;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 10px;
  margin-left: 7%;
  white-space: nowrap;
}
.para-for-kycsuccess {
  color: #404f5e;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin: 0;
  margin-top: 20px;
  font-weight: 700;
}
.i-for-kycsuccess {
  color: #5c48d2;
  font-size: 100px;
  line-height: 200px;
  margin-left: 25%;
  /* margin-left: -15px; */
}
.card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  border: none;
  /* box-shadow: 0 2px 3px #c8d0d8; */
  display: inline-block;
  margin: 0 auto;
}
.restrict-container {
  align-items: center;
  margin-top: 10%;
  margin-left: 10%;
}
.restrict-user {
  font-size: 35px;
  font-weight: 700;
  /* margin-top: 20%; */
  text-align: center;
}
